{% extends "blogs/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="content-section">
                <form id="search" onsubmit="">
                    {% csrf_token %}
                <div class="form-group">
                <h1 class="mb-4">Twitter Analysis</h1>
                        {% comment %} <label class="mr-3 h6" for="keyword">Keyword</label> {% endcomment %}
                    <input type="text" name="keyword" id="keyword" class="w-100" placeholder="Enter a Keyword to search" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">
                            <div class="spinner-border spinner-border-sm text-light d-none" id="search-spinner-twitter" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="content-section">
                <form id="searchText" onsubmit="">
                    {% csrf_token %}
                <div class="form-group">
                <h1 class="mb-4">Text Analysis</h1>
                        {% comment %} <label class="mr-3 h6" for="keyword">Keyword</label> {% endcomment %}
                    <input type="text" name="text" id="text" class="w-100" placeholder="Enter text to parse" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">
                            <div class="spinner-border spinner-border-sm text-light d-none" id="search-spinner-text" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="col-lg-6">
            <div class="content-section">
                <form id="searchLink" onsubmit="">
                    {% csrf_token %}
                <div class="form-group">
                <h1 class="mb-4">Blog Analysis</h1>
                        {% comment %} <label class="mr-3 h6" for="keyword">Keyword</label> {% endcomment %}
                    <input type="url" name="link" id="link" class="w-100" placeholder="Enter a Link to parse" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">
                            <div class="spinner-border spinner-border-sm text-light d-none" id="search-spinner" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="twitter-result" class="d-none">
                <div class="row">
                    <div class="col-lg-8 text-center" >
                        <div class="row align-items-center h-100 sentiments">
                            <div class="col-lg-12">
                                <strong>Positive - </strong><span id="pospercent"></span> %
                                    <img src="{%static 'blogs/images/happy.png' %}" alt="Positive">
                            </div>
                            <div class="col-lg-12">
                                <strong>Negative - </strong><span id="negpercent"></span> %
                                    <img src="{%static 'blogs/images/negative.png' %}" alt="Negative">
                            </div>
                            <div class="col-lg-12">
                                <strong>Neutral - </strong><span id="neupercent"></span> %
                                    <img src="{%static 'blogs/images/neutral.png' %}" alt="Neutral">
                            </div>
                        </div>                        
                    </div>
                    <div class="col-lg-4" >
                        <canvas id="pieChart" width="200" height="200"></canvas>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12"><h3>Positive Tweets</h3></div>
                    <div class="col-lg-12">
                        <ul  id="postweets"></ul>
                    </div>
                </div>
                <br>
                <div class="row">
                     <div class="col-lg-12"><h3>Negative Tweets</h3></div>
                    <div class="col-lg-12">
                        <ul  id="negtweets"></ul>
                    </div>
                </div>
            </div>

            <div id="text-result" class="d-none">
                <div class="row">
                    <div class="col text-center">
                        <h3>The sentence is - <span id="text-sentiment" class="font-weight-bold"></span>.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}